body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

#app {
    width: 1260px;
    margin: 0 auto;
    /*background-color: #ccc;*/
}

.daemon {
    margin-top: 40px;
    height: 150px;
}
    .daemon .left-block {
        float: left;
        width: 330px;
        height: 150px;
        /*background-color: #cfc;*/
    }
        .daemon .left-block h1 {
            padding: 0;
            margin: 0;
            font-weight: 400;
        }
        .daemon .left-block dl {
            width: 170px;
        }
        .daemon .left-block dt, .daemon .left-block dd {
            float: left;
            margin: 0 5px 0 0;
            width: 80px;
            line-height: 30px;
        }
        .daemon .left-block dd {
            font-family: monospace;
        }

    .daemon .boxplot {
        float: left;
        height: 150px;
        margin-right: 20px;
        /*background-color: #fcc;*/
        /*border: #ccc 1px solid;*/
    }
